<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bayuguna.progmob">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUpActivity"></activity>
        <activity android:name=".Activity.NavigationActivity"></activity>
        <activity android:name=".Activity.KegiatanActivity"></activity>
        <activity android:name=".Activity.RegisterKepanitianActivity"></activity>
        <activity android:name=".Activity.ProfileActivity"></activity>
        <activity android:name=".Activity.RiwayatActivity"></activity>


    </application>

</manifest>